<form action="<%= people_form_action(@person) %>" method="post" id="<%= form_id(@person) %>" class="<%= form_class(@person) %>">
  <input type="hidden" name="_method" value="<%= people_form_method(@person) %>" />
<% if @error %>
  <p><%= @error %></p>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
  <label for="first_name" class="first_name">First Name:</label>
  <input type="text" name="first_name" value="<%= @person.first_name %>" />
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <label for="last_name" class="last_name">Last Name:</label>
      <input type="text" name="last_name" value="<%= @person.last_name%>" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <label for="birthdate" class="birthdate">Birthdate:</label>
      <input name="birthdate" type="text" value="<%= @person.birthdate %>" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 submit">
      <input type="submit">
    </div>
  </div>
</form>

